.Card {
    background-color: #1e1e2f;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.05);

    width: 100%;
}

.Card_Title {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 10px;
}

.Card_Content {
    color: white;
    display: flex;
    justify-content: space-between;
}

.Overview {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
}

.Overview_Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}